.use-info-profile-img-wrap {
    width: 130px;
    height: 130px;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: right;
  }.use-info-profile-img-wrap div,
  .use-info-profile-img-wrap img {
    width: 100%;
  }  